NEXT_PUBLIC_BASE_URL =""
AUTH_URL=""
NEXTAUTH_URL=""
NEXT_PUBLIC_SITE_NAME =""

# Sanity
NEXT_PUBLIC_SANITY_API_VERSION=""
NEXT_PUBLIC_SANITY_PROJECT_ID=""
NEXT_PUBLIC_SANITY_DATASET=""
NEXT_PUBLIC_SANITY_TOKEN=""
SANITY_HOOK_SECRET=""

# stripe variable
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=""
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""

# auth variable
GOOGLE_CLIENT_SECRET="
GOOGLE_CLIENT_ID=""
AUTH_SECRET=""

# Database
DATABASE_URL=""

# CLOUDINARY
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# resend
RESEND_API_KEY=""
